body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

nav {
    background-color: #e44d26;
    overflow: hidden;
    padding: 10px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #333;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.history-list-section {
    text-align: center;
}

#history {
    list-style: none;
    padding: 0;
}

#history li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

#history li hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 2px;
    background-color: #ddd;
}

#history li strong {
    font-size: 1.5em;
    color: #e44d26;
    display: block;
    margin-bottom: 10px;
}

#history li p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

/* Optional hover effect */
#history li:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
